@charset "UTF-8";
/*reset--------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover img {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

b, strong {
  font-weight: bold;
}

address {
  font-style: normal;
}

button {
  display: block;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}

@font-face {
  font-family: "YakuHanJP";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/YakuHanJP/YakuHanJP-Black.eot?") format("eot"), url("../fonts/YakuHanJP/YakuHanJP-Black.woff") format("woff"), url("../fonts/YakuHanJP/YakuHanJP-Black.woff2") format("woff2");
}
@font-face {
  font-family: "YakuHanJP";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/YakuHanJP/YakuHanJP-Bold.eot?") format("eot"), url("../fonts/YakuHanJP/YakuHanJP-Bold.woff") format("woff"), url("../fonts/YakuHanJP/YakuHanJP-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "YakuHanJP";
  font-style: normal;
  font-weight: Medium;
  src: url("../fonts/YakuHanJP/YakuHanJP-Medium.eot?") format("eot"), url("../fonts/YakuHanJP/YakuHanJP-Medium.woff") format("woff"), url("../fonts/YakuHanJP/YakuHanJP-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "YakuHanJP";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/YakuHanJP/YakuHanJP-Regular.eot?") format("eot"), url("../fonts/YakuHanJP/YakuHanJP-Regular.woff") format("woff"), url("../fonts/YakuHanJP/YakuHanJP-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "YakuHanJP";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/YakuHanJP/YakuHanJP-DemiLight.eot?") format("eot"), url("../fonts/YakuHanJP/YakuHanJP-DemiLight.woff") format("woff"), url("../fonts/YakuHanJP/YakuHanJP-DemiLight.woff2") format("woff2");
}
@font-face {
  font-family: "YakuHanJP";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/YakuHanJP/YakuHanJP-Light.eot?") format("eot"), url("../fonts/YakuHanJP/YakuHanJP-Light.woff") format("woff"), url("../fonts/YakuHanJP/YakuHanJP-Light.woff2") format("woff2");
}
@font-face {
  font-family: "YakuHanJP";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/YakuHanJP/YakuHanJP-Thin.eot?") format("eot"), url("../fonts/YakuHanJP/YakuHanJP-Thin.woff") format("woff"), url("../fonts/YakuHanJP/YakuHanJP-Thin.woff2") format("woff2");
}
/*共通設定*/
body {
  color: #4d4d4d;
  font-family: "YakuhanJP", "Zen Kaku Gothic New", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.05rem;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 13.5px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "YakuhanJP", "Zen Kaku Gothic New", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  line-height: 1.8;
  letter-spacing: 0.05rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
  }
}

button,
option,
input {
  font-family: "YakuhanJP", "Zen Kaku Gothic New", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
}

a {
  color: inherit;
}
a:hover {
  color: #006697;
}

button:hover,
a:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.arrow-r {
  position: relative;
}
.arrow-r:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

/*color---------------------------------*/
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-12 {
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .fs-12 {
    font-size: 10px;
  }
}

.fs-13 {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .fs-13 {
    font-size: 11px;
  }
}

.fs-15 {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .fs-15 {
    font-size: 13px;
  }
}

.fs-16 {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .fs-16 {
    font-size: 13px;
  }
}

.fs-18 {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .fs-18 {
    font-size: 15px;
  }
}

.fs-20 {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .fs-20 {
    font-size: 18px;
  }
}

.fs-22 {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .fs-22 {
    font-size: 18px;
  }
}

.fs-24 {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .fs-24 {
    font-size: 20px;
  }
}

.fs-30 {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .fs-30 {
    font-size: 24px;
  }
}

.fs-35 {
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  .fs-35 {
    font-size: 26px;
  }
}

/*text color---------------------------------*/
.fc-w {
  color: #fff;
}

/*background---------------------------------*/
.bg_blue {
  background-color: #F0FAFA;
}

.bg_white {
  background-color: #fff;
}

/*align---------------------------------*/
.alL {
  text-align: left !important;
}

.alR {
  text-align: right !important;
}

.alC {
  text-align: center !important;
}

/*width---------------------------------*/
.page-width {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .page-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*余白---------------------------------*/
/*margin---------------------------------*/
.mt0 {
  margin-top: 0px !important;
}
@media screen and (max-width: 768px) {
  .mt0 {
    margin-top: 0px !important;
  }
}

.mb0 {
  margin-bottom: 0px !important;
}
@media screen and (max-width: 768px) {
  .mb0 {
    margin-bottom: 0px !important;
  }
}

/*padding---------------------------------*/
.pt0 {
  padding-top: 0px !important;
}
@media screen and (max-width: 768px) {
  .pt0 {
    padding-top: 0px !important;
  }
}

.pb0 {
  padding-bottom: 0px !important;
}
@media screen and (max-width: 768px) {
  .pb0 {
    padding-bottom: 0px !important;
  }
}

/*margin---------------------------------*/
.mt10 {
  margin-top: 10px !important;
}
@media screen and (max-width: 768px) {
  .mt10 {
    margin-top: 5px !important;
  }
}

.mb10 {
  margin-bottom: 10px !important;
}
@media screen and (max-width: 768px) {
  .mb10 {
    margin-bottom: 5px !important;
  }
}

/*padding---------------------------------*/
.pt10 {
  padding-top: 10px !important;
}
@media screen and (max-width: 768px) {
  .pt10 {
    padding-top: 5px !important;
  }
}

.pb10 {
  padding-bottom: 10px !important;
}
@media screen and (max-width: 768px) {
  .pb10 {
    padding-bottom: 5px !important;
  }
}

/*margin---------------------------------*/
.mt20 {
  margin-top: 20px !important;
}
@media screen and (max-width: 768px) {
  .mt20 {
    margin-top: 10px !important;
  }
}

.mb20 {
  margin-bottom: 20px !important;
}
@media screen and (max-width: 768px) {
  .mb20 {
    margin-bottom: 10px !important;
  }
}

/*padding---------------------------------*/
.pt20 {
  padding-top: 20px !important;
}
@media screen and (max-width: 768px) {
  .pt20 {
    padding-top: 10px !important;
  }
}

.pb20 {
  padding-bottom: 20px !important;
}
@media screen and (max-width: 768px) {
  .pb20 {
    padding-bottom: 10px !important;
  }
}

/*margin---------------------------------*/
.mt30 {
  margin-top: 30px !important;
}
@media screen and (max-width: 768px) {
  .mt30 {
    margin-top: 15px !important;
  }
}

.mb30 {
  margin-bottom: 30px !important;
}
@media screen and (max-width: 768px) {
  .mb30 {
    margin-bottom: 15px !important;
  }
}

/*padding---------------------------------*/
.pt30 {
  padding-top: 30px !important;
}
@media screen and (max-width: 768px) {
  .pt30 {
    padding-top: 15px !important;
  }
}

.pb30 {
  padding-bottom: 30px !important;
}
@media screen and (max-width: 768px) {
  .pb30 {
    padding-bottom: 15px !important;
  }
}

/*margin---------------------------------*/
.mt40 {
  margin-top: 40px !important;
}
@media screen and (max-width: 768px) {
  .mt40 {
    margin-top: 20px !important;
  }
}

.mb40 {
  margin-bottom: 40px !important;
}
@media screen and (max-width: 768px) {
  .mb40 {
    margin-bottom: 20px !important;
  }
}

/*padding---------------------------------*/
.pt40 {
  padding-top: 40px !important;
}
@media screen and (max-width: 768px) {
  .pt40 {
    padding-top: 20px !important;
  }
}

.pb40 {
  padding-bottom: 40px !important;
}
@media screen and (max-width: 768px) {
  .pb40 {
    padding-bottom: 20px !important;
  }
}

/*margin---------------------------------*/
.mt50 {
  margin-top: 50px !important;
}
@media screen and (max-width: 768px) {
  .mt50 {
    margin-top: 25px !important;
  }
}

.mb50 {
  margin-bottom: 50px !important;
}
@media screen and (max-width: 768px) {
  .mb50 {
    margin-bottom: 25px !important;
  }
}

/*padding---------------------------------*/
.pt50 {
  padding-top: 50px !important;
}
@media screen and (max-width: 768px) {
  .pt50 {
    padding-top: 25px !important;
  }
}

.pb50 {
  padding-bottom: 50px !important;
}
@media screen and (max-width: 768px) {
  .pb50 {
    padding-bottom: 25px !important;
  }
}

/*margin---------------------------------*/
.mt60 {
  margin-top: 60px !important;
}
@media screen and (max-width: 768px) {
  .mt60 {
    margin-top: 30px !important;
  }
}

.mb60 {
  margin-bottom: 60px !important;
}
@media screen and (max-width: 768px) {
  .mb60 {
    margin-bottom: 30px !important;
  }
}

/*padding---------------------------------*/
.pt60 {
  padding-top: 60px !important;
}
@media screen and (max-width: 768px) {
  .pt60 {
    padding-top: 30px !important;
  }
}

.pb60 {
  padding-bottom: 60px !important;
}
@media screen and (max-width: 768px) {
  .pb60 {
    padding-bottom: 30px !important;
  }
}

/*margin---------------------------------*/
.mt80 {
  margin-top: 80px !important;
}
@media screen and (max-width: 768px) {
  .mt80 {
    margin-top: 40px !important;
  }
}

.mb80 {
  margin-bottom: 80px !important;
}
@media screen and (max-width: 768px) {
  .mb80 {
    margin-bottom: 40px !important;
  }
}

/*padding---------------------------------*/
.pt80 {
  padding-top: 80px !important;
}
@media screen and (max-width: 768px) {
  .pt80 {
    padding-top: 40px !important;
  }
}

.pb80 {
  padding-bottom: 80px !important;
}
@media screen and (max-width: 768px) {
  .pb80 {
    padding-bottom: 40px !important;
  }
}

/*margin---------------------------------*/
.mt100 {
  margin-top: 100px !important;
}
@media screen and (max-width: 768px) {
  .mt100 {
    margin-top: 50px !important;
  }
}

.mb100 {
  margin-bottom: 100px !important;
}
@media screen and (max-width: 768px) {
  .mb100 {
    margin-bottom: 50px !important;
  }
}

/*padding---------------------------------*/
.pt100 {
  padding-top: 100px !important;
}
@media screen and (max-width: 768px) {
  .pt100 {
    padding-top: 50px !important;
  }
}

.pb100 {
  padding-bottom: 100px !important;
}
@media screen and (max-width: 768px) {
  .pb100 {
    padding-bottom: 50px !important;
  }
}

/*margin---------------------------------*/
.mt120 {
  margin-top: 120px !important;
}
@media screen and (max-width: 768px) {
  .mt120 {
    margin-top: 60px !important;
  }
}

.mb120 {
  margin-bottom: 120px !important;
}
@media screen and (max-width: 768px) {
  .mb120 {
    margin-bottom: 60px !important;
  }
}

/*padding---------------------------------*/
.pt120 {
  padding-top: 120px !important;
}
@media screen and (max-width: 768px) {
  .pt120 {
    padding-top: 60px !important;
  }
}

.pb120 {
  padding-bottom: 120px !important;
}
@media screen and (max-width: 768px) {
  .pb120 {
    padding-bottom: 60px !important;
  }
}

/*layout---------------------------------*/
.flex_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .flex_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

/*displayのレスポンシブ対応*/
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-grid {
  display: inline-grid !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media screen and (max-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-inline {
    display: inline !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-inline-block {
    display: inline-block !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-grid {
    display: grid !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-inline-grid {
    display: inline-grid !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-table {
    display: table !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-table-row {
    display: table-row !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-table-cell {
    display: table-cell !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 576px) {
  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-inline {
    display: inline !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-inline-block {
    display: inline-block !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-grid {
    display: grid !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-inline-grid {
    display: inline-grid !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-table {
    display: table !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-table-row {
    display: table-row !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-table-cell {
    display: table-cell !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 768px) {
  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-inline {
    display: inline !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-inline-block {
    display: inline-block !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-grid {
    display: grid !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-inline-grid {
    display: inline-grid !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-table {
    display: table !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-table-row {
    display: table-row !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-table-cell {
    display: table-cell !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 992px) {
  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-inline {
    display: inline !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-inline-block {
    display: inline-block !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-grid {
    display: grid !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-inline-grid {
    display: inline-grid !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-table {
    display: table !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-table-row {
    display: table-row !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-table-cell {
    display: table-cell !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 1200px) {
  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

/*ヘッダー*/
/*フッター*/
/*フッター*/
/*--------------トップ---------------- */
/*---------------- 下層 共通設定---------------- */
/*-----下層タイトル部分------*/
/*-----下層大見出し------*/
/*-----下層数字見出し------*/
/*-----パンくずリスト------*//*# sourceMappingURL=style.css.map */