@use "setting" as s;

/*共通設定*/
$black: #4d4d4d;
$blue: #006697;

$width: 1200px;


body {
  color: $black;
  font-family: s.$base_font;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.05rem;
  font-weight: normal;

  @include s.mq {
    font-size: 13.5px;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: s.$base_font;
  line-height: 1.8;
  letter-spacing: 0.05rem;
  font-weight: 700;

  @include s.mq {
    line-height: 1.5;
  }
}

button,
option,
input {
  font-family: s.$base_font;
}

a {
  color: inherit;

  &:hover {
    color: $blue;
  }
}

button,
a {
  &:hover {
    transition: .3s ease-in-out;
  }
}

.arrow-r {
  position: relative;

  &:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(45deg);

  }
}

/*color---------------------------------*/




// font-weight
$font-weights: (
  300,
  400,
  500,
  600,
  700,
  800,
  900
);

@each $weight in $font-weights {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}


// font-size
.fs-12 {
  font-size: 12px;

  @include s.mq {
    font-size: 10px;
  }
}

.fs-13 {
  font-size: 13px;

  @include s.mq {
    font-size: 11px;
  }
}

.fs-15 {
  font-size: 15px;

  @include s.mq {
    font-size: 13px;
  }
}

.fs-16 {
  font-size: 16px;

  @include s.mq {
    font-size: 13px;
  }
}

.fs-18 {
  font-size: 18px;

  @include s.mq {
    font-size: 15px;
  }
}

.fs-20 {
  font-size: 20px;

  @include s.mq {
    font-size: 18px;
  }
}

.fs-22 {
  font-size: 22px;

  @include s.mq {
    font-size: 18px;
  }
}

.fs-24 {
  font-size: 24px;

  @include s.mq {
    font-size: 20px;
  }
}

.fs-30 {
  font-size: 30px;

  @include s.mq {
    font-size: 24px;
  }
}

.fs-35 {
  font-size: 35px;

  @include s.mq {
    font-size: 26px;
  }
}

/*text color---------------------------------*/

.fc-w {
  color: #fff;
}

/*background---------------------------------*/
.bg_blue {
  background-color: #F0FAFA;
}

.bg_white {
  background-color: #fff;
}



/*align---------------------------------*/

.alL {
  text-align: left !important;
}

.alR {
  text-align: right !important;
}

.alC {
  text-align: center !important;
}



/*width---------------------------------*/

.page-width {
  max-width: $width;
  margin: 0 auto;

  @include s.mq(xl) {
    padding-left: 15px;
    padding-right: 15px;
  }
}



/*余白---------------------------------*/
$spacing-sizes: (
  0,
  10,
  20,
  30,
  40,
  50,
  60,
  80,
  100,
  120
);

@each $size in $spacing-sizes {

  /*margin---------------------------------*/
  .mt#{$size} {
    margin-top: $size * 1px !important;

    @include s.mq {
      margin-top: ($size * 0.5) * 1px !important;
    }
  }

  .mb#{$size} {
    margin-bottom: $size * 1px !important;

    @include s.mq {
      margin-bottom: ($size * 0.5) * 1px !important;
    }
  }

  /*padding---------------------------------*/
  .pt#{$size} {
    padding-top: $size * 1px !important;

    @include s.mq {
      padding-top: ($size * 0.5) * 1px !important;
    }
  }

  .pb#{$size} {
    padding-bottom: $size * 1px !important;

    @include s.mq {
      padding-bottom: ($size * 0.5) * 1px !important;
    }
  }
}


/*layout---------------------------------*/

.flex_wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;

  @include s.mq {
    flex-flow: column wrap;
  }
}


/*displayのレスポンシブ対応*/
$displays: (
  none,
  inline,
  inline-block,
  block,
  grid,
  inline-grid,
  table,
  table-row,
  table-cell,
  flex,
  inline-flex
);

// 基本 display クラス
@each $display in $displays {
  .d-#{$display} {
    display: $display !important;
  }
}

// カスタムブレイクポイント対応 display クラス（max-width）
@each $breakpoint, $media in s.$breakpoints {
  @each $display in $displays {
    .d-#{$breakpoint}-#{$display} {
      @include s.mq($breakpoint) {
        display: $display !important;
      }
    }
  }
}