@charset "utf-8";
@use "font" as f;

@include f.font-face('YakuHanJP', '../fonts/YakuHanJP/YakuHanJP-Black', 900, normal, eot woff woff2);
@include f.font-face('YakuHanJP', '../fonts/YakuHanJP/YakuHanJP-Bold', bold, normal, eot woff woff2);
@include f.font-face('YakuHanJP', '../fonts/YakuHanJP/YakuHanJP-Medium', Medium, normal, eot woff woff2);
@include f.font-face('YakuHanJP', '../fonts/YakuHanJP/YakuHanJP-Regular', 500, normal, eot woff woff2);
@include f.font-face('YakuHanJP', '../fonts/YakuHanJP/YakuHanJP-DemiLight', 400, normal, eot woff woff2);
@include f.font-face('YakuHanJP', '../fonts/YakuHanJP/YakuHanJP-Light', 300, normal, eot woff woff2);
@include f.font-face('YakuHanJP', '../fonts/YakuHanJP/YakuHanJP-Thin', 200, normal, eot woff woff2);


$base_font:'YakuhanJP', 'Zen Kaku Gothic New', "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic" , 'Lucida Grande', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;

$breakpoints: (
  'sm': 'screen and (max-width: 576px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 992px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}

